<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dynamixel_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dynamixel_arm urdf file -->
    <xacro:include filename="$(find dynamixel_arm_description)/urdf/dynamixel_arm.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="dynamixel_arm.ros2_control.xacro" />


    <xacro:dynamixel_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
