<?xml version="1.0" ?>
<robot name="dynamixel_arm">
  <material name="silver_default">
    <color rgba="0.700 0.700 0.700 1.000"/>
  </material>
  <material name="opaque235235235">
    <color rgba="0.9215686274509803 0.9215686274509803 0.9215686274509803 1.0"/>
  </material>
  <material name="opaque545454">
    <color rgba="0.21176470588235294 0.21176470588235294 0.21176470588235294 1.0"/>
  </material>
  <material name="opaque191191191">
    <color rgba="0.7490196078431373 0.7490196078431373 0.7490196078431373 1.0"/>
  </material>

  <!-- Transmissions -->
  <transmission name="joint1_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint1_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint2_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint2_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint3_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint3_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint4_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint4_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="joint5_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="joint5_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="gripper_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="gripper">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="gripper_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="outlink1_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="outlink1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="outlink1_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="outlink2_upper_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="outlink2_upper">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="outlink2_upper_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="outlink1_upper_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="outlink1_upper">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="outlink1_upper_actr">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Links -->
  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.000113337289716781 -0.00309076282926622 0.056311276285655"/>
      <mass value="0.422228337302641"/>
      <inertia ixx="0.00112843002096474" ixy="-1.66340254078764e-07" ixz="1.17964827473214e-06" iyy="0.00109272943382664" iyz="-1.56035446544229e-06" izz="0.0010635705036595"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_1_1">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.00021127011294436507 1.595606746709482e-05 0.03689469547015051"/>
      <mass value="0.191421447446045"/>
      <inertia ixx="0.000187614835027364" ixy="1.55276339993076e-09" ixz="1.97342429764555e-06" iyy="0.000199164507943486" iyz="-5.72420498094766e-08" izz="6.97213054895995e-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.000245 -4.5e-05 -0.1003"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.000245 -4.5e-05 -0.1003"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_2_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.02591593484212496 3.986740963651461e-05 0.08437010561785152"/>
      <mass value="0.137640357094768"/>
      <inertia ixx="0.000210163851263243" ixy="2.1567553744296e-09" ixz="4.61871241706466e-06" iyy="0.00026441483283246" iyz="-8.51937840517638e-08" izz="8.19214620197699e-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.026245 -7.8e-05 -0.1729"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque545454"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.026245 -7.8e-05 -0.1729"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_3_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.02389185573820618 0.00039017901099007115 0.039646162333625445"/>
      <mass value="0.0865814264869725"/>
      <inertia ixx="5.26983036251445e-05" ixy="1.23803634269193e-08" ixz="1.34215329925785e-06" iyy="5.82181519370745e-05" iyz="3.3725159958289e-07" izz="3.23003384463733e-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.023845 -0.000136 -0.296812"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.023845 -0.000136 -0.296812"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_3_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_4_1">
    <inertial>
      <origin rpy="0 0 0" xyz="-4.729244333769619e-05 1.2736207935194407e-05 0.027634557411537197"/>
      <mass value="0.0619910161529994"/>
      <inertia ixx="2.25267050284594e-05" ixy="9.478187392860066e-11" ixz="2.04420176912613e-07" iyy="2.59843604385711e-05" iyz="-5.8368411178563e-09" izz="1.34826294019835e-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.000345 0.011427 -0.375018"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_4_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque191191191"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.000345 0.011427 -0.375018"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_4_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="link_5_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0.02247506515647412 0.0032734067218829366 0.059549232712919675"/>
      <mass value="0.125379089079449"/>
      <inertia ixx="0.000159136830790569" ixy="-5.13967328740984e-08" ixz="-9.34886894704644e-07" iyy="0.000128193874409835" iyz="-1.71087932324318e-05" izz="6.86470115827554e-05"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0.023045 0.011405 -0.421518"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_5_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque191191191"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.023045 0.011405 -0.421518"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/link_5_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="linkout_1_1">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.008749719683909477 1.0177443021751331e-05 0.021281981725918775"/>
      <mass value="0.010667990446522"/>
      <inertia ixx="1.66185068535855e-06" ixy="6.296366473855638e-19" ixz="5.831398325372231e-18" iyy="2.51806760939721e-06" iyz="-6.83607997357775e-10" izz="1.0414279599588e-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.008255 0.040756 -0.527932"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/linkout_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.008255 0.040756 -0.527932"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/linkout_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="linkin_1_1">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.008749719683895821 -6.803660653320262e-05 0.021452642980543057"/>
      <mass value="0.009902955851522"/>
      <inertia ixx="1.63040160058425e-06" ixy="6.281675746176696e-19" ixz="-5.685285141970864e-18" iyy="2.4911226210139e-06" iyz="-6.73132213324949e-09" izz="1.03347610765994e-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.008255 0.021756 -0.527923"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/linkin_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.008255 0.021756 -0.527923"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/linkin_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="linkin_2_1">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.008749719683863354 8.849206158021566e-05 0.021453029167782023"/>
      <mass value="0.009902955851522"/>
      <inertia ixx="1.63040160058381e-06" ixy="6.317542297536996e-19" ixz="5.828433710056841e-18" iyy="2.49113391998564e-06" iyz="5.37035048676633e-09" izz="1.03346480868897e-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.008255 -0.022244 -0.527902"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/linkin_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.008255 -0.022244 -0.527902"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/linkin_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="linkout_2_1">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.008749719683849508 1.0168507691990514e-05 0.02128270126064702"/>
      <mass value="0.010667990446522"/>
      <inertia ixx="1.66185068535768e-06" ixy="6.293190100303435e-19" ixz="5.829704259477722e-18" iyy="2.51806760939721e-06" iyz="-6.83607997411986e-10" izz="1.0414279599588e-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.008255 -0.041244 -0.527893"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/linkout_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.008255 -0.041244 -0.527893"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/linkout_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="fin_2_1">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.008699719683907058 0.011136821290282563 0.025898859363805316"/>
      <mass value="0.0281715781011337"/>
      <inertia ixx="1.75973238202426e-05" ixy="-1.457955460461464e-19" ixz="4.938202082492571e-19" iyy="1.71444337400337e-05" iyz="-1.60996065305652e-06" izz="3.2281470901434e-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.008255 0.040735 -0.572932"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/fin_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.008255 0.040735 -0.572932"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/fin_2_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="fin_1_1">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.008699719683863214 -0.010810946932019807 0.025909852599709793"/>
      <mass value="0.0281715332339428"/>
      <inertia ixx="1.75842581258794e-05" ixy="-5.014964443337492e-19" ixz="2.763021473943528e-18" iyy="1.71473246262221e-05" iyz="1.50304933944781e-06" izz="3.21218655379927e-06"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.008255 -0.041265 -0.572893"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/fin_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="opaque235235235"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.008255 -0.041265 -0.572893"/>
      <geometry>
        <mesh filename="package://dynamixel_arm_description/meshes/fin_1_1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <link name="end_effector"/>

  <!-- Joints -->
  <joint name="joint1" type="revolute">
    <origin rpy="0 0 0" xyz="-0.000245 4.5e-05 0.1003"/>
    <parent link="base_link"/>
    <child link="link_1_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" lower="-3.141593" upper="3.141593" velocity="100"/>
  </joint>

  <joint name="joint2" type="revolute">
    <origin rpy="0 0 0" xyz="-0.026 3.3e-05 0.0726"/>
    <parent link="link_1_1"/>
    <child link="link_2_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-1.570796" upper="1.570796" velocity="100"/>
  </joint>

  <joint name="joint3" type="revolute">
    <origin rpy="0 0 0" xyz="0.0024 5.8e-05 0.123912"/>
    <parent link="link_2_1"/>
    <child link="link_3_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-1.570796" upper="1.570796" velocity="100"/>
  </joint>

  <joint name="joint4" type="revolute">
    <origin rpy="0 0 0" xyz="0.0235 -0.011563 0.078206"/>
    <parent link="link_3_1"/>
    <child link="link_4_1"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" lower="-3.141593" upper="3.141593" velocity="100"/>
  </joint>

  <joint name="joint5" type="revolute">
    <origin rpy="0 0 0" xyz="-0.0227 2.2e-05 0.0465"/>
    <parent link="link_4_1"/>
    <child link="link_5_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-1.570796" upper="1.570796" velocity="100"/>
  </joint>

  <joint name="gripper" type="revolute">
    <origin rpy="0 0 0" xyz="0.0313 -0.029351 0.106414"/>
    <parent link="link_5_1"/>
    <child link="linkout_1_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-0.575959" upper="0.383972" velocity="100"/>
  </joint>

  <joint name="inlink2" type="revolute">
    <origin rpy="0 0 0" xyz="0.0313 -0.010351 0.106405"/>
    <parent link="link_5_1"/>
    <child link="linkin_1_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-0.575959" upper="0.383972" velocity="100"/>
    <mimic joint="gripper" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="outlink1" type="revolute">
    <origin rpy="0 0 0" xyz="0.0313 0.052649 0.106375"/>
    <parent link="link_5_1"/>
    <child link="linkout_2_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-0.383972" upper="0.575959" velocity="100"/>
    <mimic joint="gripper" multiplier="-1.0" offset="0.0"/>
  </joint>

  <joint name="inlink1" type="revolute">
    <origin rpy="0 0 0" xyz="0.0313 0.033649 0.106384"/>
    <parent link="link_5_1"/>
    <child link="linkin_2_1"/>
    <axis xyz="-1 0 0"/>
    <limit effort="100" lower="-0.383972" upper="0.575959" velocity="100"/>
    <mimic joint="gripper" multiplier="-1.0" offset="0.0"/>
  </joint>

  <joint name="outlink2_upper" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 2.1e-05 0.045"/>
    <parent link="linkout_1_1"/>
    <child link="fin_2_1"/>
    <axis xyz="1 0 0"/>
    <limit effort="100" lower="-0.575959" upper="0.383972" velocity="100"/>
    <mimic joint="gripper" multiplier="1.0" offset="0.0"/>
  </joint>

  <joint name="outlink1_upper" type="revolute">
    <origin rpy="0 0 0" xyz="0.0 2.1e-05 0.045"/>
    <parent link="linkout_2_1"/>
    <child link="fin_1_1"/>
    <axis xyz="1 0 0"/>
    <limit effort="100" lower="-0.383972" upper="0.575959" velocity="100"/>
    <mimic joint="gripper" multiplier="-1.0" offset="0.0"/>
  </joint>
  
  <joint name="end_effector_frame" type="fixed">
    <parent link="link_5_1"/>
    <child link="end_effector"/>
    <origin xyz="0.0226 0.01194171505988 0.24098628193808" rpy="0 0 0"/>
  </joint>

  <ros2_control name="DynamixelArmHardwareInterface" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
      <param name="mujoco_model">$(find dynamixel_arm_description)/mjcf/scene.xml</param>
    </hardware>
    <joint name="joint1">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint2">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint3">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint4">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="joint5">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="gripper">
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>

</robot>